<h1>Bit Sized Good</h1>


<p>Are you a non-profit that needs help with your website? We want to help you for free.</p>

<h2>About</h2>

<p> Bit Sized Good started due to the desire to help non-profits with our newly aquired skills. The new wave of job ready applicants are graduating from technology bootcamps ready to show the world that they can make big changes when given the chance. We are passionate about our craft, and to do good one bit at a time.
</p>

<h2>What we offer</h2>

<ul>
<li> UI Design</li>
  <ul>
  <li> What services can UI grads offer? </li>
  </ul>
<li> UX research</li>
 <ul>
  <li> What services can UX offer? </li>
  </ul>
</ul>
<li> Full Stack Web Development</li>
 <ul>
  <li> Build base framework for custom solutions </li>
  <li> How do we convince people to walk away from wordpress? Is this something that UX can research and answer? Is this something anyone can research and answer? </li>
  </ul>
</ul>

